.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-post {
    width: fit-content;
    max-width: 60%;
    padding: 2em;
    display: flex;
    gap: 2em;
    border-radius: 32px;
    border: 1px solid #ffffff;
}

.news-picture {
    width: 20%;
}

.news-post > div {
    display: flex;
    flex-direction: column;
}

.news-post hr {
    width: 100%;
}

.news-post a {
     border-radius: .75em;
    width: fit-content;
    padding: 1em;
    font-family: PP Fragment Sans, sans-serif;
    font-size: 1em;
    text-decoration: none;
    background: #1d3d70;
    color: #ffffff;
    transition: 5s;
}

.news-post a:hover {
    transform: rotate(10turn) skew(90deg) perspective(40px) scaleX(0.5) scaleY(3) scaleZ(3);
    background: rebeccapurple;
    text-transform: uppercase;
    cursor: none;
}

.news-post a:clicked {
    backdrop-filter: blur(500px);
}