{% extends 'workshop/base.html' %}

{% block content %}
    <h1>About us</h1>
    <div>
        <img src="https://assets.turbologo.ru/blog/ru/2019/03/18165909/%D0%91%D0%B5%D0%B7-%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-3-107.png" width="256px" alt="logo">
        <q>Style is knowing who you are, what you want to say, and not giving a damn.</q>
        <iframe
            width="420"
            height="315"
            src="https://www.youtube.com/embed/YRL4uIVzVWI">
        </iframe>
    </div>
    <div>
        <h2>History of the workshop</h2>
        <hr>
        <h3>1950s</h3>
        <p>In the <b>1950s</b>, the clothing workshop began its activity. The main goal was to create high-quality clothing that would serve its owners for a long time. The workshop was small and had only a few employees.</p>
        <hr>
        <h3>1960s</h3>
        <p>In the <b>1960s</b>, the workshop began to produce mass-produced clothing, but still maintained its focus on quality. Clothing was produced on a larger number of machines, which allowed to increase productivity and reduce the time for completing orders.</p>
        <hr>
        <h3>1970s</h3>
        <p>In the <b>1970s</b>, the clothing workshop became known internationally. It began to produce more exclusive clothing that was worn by celebrities and high-ranking officials.</p>
        <hr>
        <h3>1980s</h3>
        <p>In the <b>1980s</b>, the workshop continued to develop and began to focus on new clothing production technologies. Clothing became more modern, and new technologies allowed for the creation of lighter and more comfortable clothing.</p>
        <hr>
        <h3>1990s</h3>
        <p>In the <b>1980s</b>, the clothing workshop continued to develop and began to use new materials for clothing production. It also began to sell its clothing in online stores, which allowed it to attract more customers.</p>
        <hr>
        <h3>2000s</h3>
        <p>In the <b>2000s</b>, the clothing workshop began to use more environmentally friendly materials for clothing production, such as organic cotton and bamboo. It also began to focus on sustainable production and the implementation of new technologies that allow for the reduction of emissions of harmful substances.</p>
        <hr>
        <h3>2010s</h3>
        <p>In the <b>2010s</b>, the clothing workshop continued to develop and use new technologies, such as 3D printing, to create more modern and innovative clothing. It also began to use more recycled materials and continued to focus on sustainable production.</p>
        <hr>
        <h3>2020s</h3>
        <p>Currently, the clothing workshop continues to use new technologies and materials for clothing production. It also continues to focus on sustainable production and material recycling to reduce its negative impact on the environment.</p>
    </div>
    <div>
        <img
            src="https://standartno.by/upload/ammina.optimizer/jpg-webp/q80/upload/medialibrary/afd/3_0.webp"
            alt="certificate"
        >
    </div>
{% endblock content%}