{% extends 'workshop/base.html' %}

{% block content %}
    <h1>Contact us</h1>
    <iframe
        width="110"
        height="100"
        src="https://www.myinstants.com/ru/instant/oh-my-god-bro-oh-hell-nah-man-42939"
        style="transform:scale(0.2);opacity:0.3;outline:0; filter: blur(50px)"
    ></iframe>
    <div style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly"
    >
        <div class="card" style="width: 100%; margin: 1em">
            <div class="card-body">
                <img
                    alt="MS"
                    src="https://static.wikia.nocookie.net/amogus/images/c/cb/Susremaster.png/revision/latest?cb=20210806124552"
                    width="100"
                >
                <h5 class="card-title">Mikhail Shkarubski</h5>
                <p class="card-text">Specializes on footwear.</p>
                <p class="card-text">+375 29 956-7008</p>
                <p class="card-text">mikhailshkarubski@gmail.com</p>
            </div>
        </div>
        <div class="card" style="width: 100%; margin: 1em">
            <div class="card-body">
                <img
                    alt="AM"
                    src="https://static.wikia.nocookie.net/amogus/images/7/73/Ultimatesus.png/revision/latest?cb=20210916171704"
                    width="100"
                >
                <h5 class="card-title">Am'Oga</h5>
                <p class="card-text">Specializes on clothes.</p>
                <p class="card-text">+375 29 708-9568</p>
                <p class="card-text">amoga@gmail.com</p>
            </div>
        </div>
        <div class="card" style="width: 100%; margin: 1em">
            <div class="card-body">
                <img
                    alt="AH"
                    src="https://static.wikia.nocookie.net/amogus/images/7/73/Ultimatesus.png/revision/latest?cb=20210916171704"
                    width="100"
                >
                <h5 class="card-title">Ah'Uha</h5>
                <p class="card-text">Specializes on accessories/furniture.</p>
                <p class="card-text">+375 29 008-7956</p>
                <p class="card-text">ahuha@gmail.com</p>
            </div>
        </div>
    </div>
{% endblock content%}