{% extends 'workshop/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="input-group mb-3">
                {% if field.label == 'Username' %}
                    <span class="input-group-text">@</span>
                {% endif %}
                {{ field }}
                {% if field.label == 'Email' %}
                    <span class="input-group-text">@example.com</span>
                {% endif %}
            </div>
            <div>
                {{ field.errors }}
            </div>
        {% endfor %}
        <div>{{ form.non_field_errors }}</div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
{% endblock content%}