{% extends 'workshop/base.html' %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'workshop/css/matrix.css' %}">
{% endblock styles %}

{% block content %}
    <div>
        <div>
            <label class="text-bold20">Matrix size (N by N): </label>
            <input type="number" id="matrix-size" placeholder="0">
        </div>
        <div>
            <label>Максимальное кол-во выделенных ячеек: </label>
            <input type="number" id="max-selection" placeholder="Максимальное количество выделений в ряду/столбце">
        </div>
        <div>
            <button id="generate-btn">Generate table</button>
            <button id="transpose-btn">Transpose</button>
        </div>
        <div>
            <button id="add-row-btn">Add Row</button>
            <button id="add-col-btn">Add Column</button>
        </div>
        <div>
            <table id="table"></table>
        </div>
    </div>
{% endblock content%}

{% block scripts %}
    <script src="{% static 'workshop/js/matrix.js' %}"></script>
{% endblock scripts %}