{% extends 'workshop/base.html' %}

{% block content %}
    <div>
        <h1>{{ title }}</h1>
    </div>
    {% for s in object_list %}
    <div>
        <div>
            {% if s.image %}
                <img src="{{ s.image.url }}">
            {% endif %}
            <h5>{{ s.title }}</h5>
            <a href="{{ s.slug }}">Learn more</a>
            <hr>
            {% if s.description %}
                <p>{{ s.description }}</p>
            {% else %}
                <p>{{ s.content }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% endblock content%}