{% extends 'workshop/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {% if field.label == 'Username' %}
                    <span>@</span>
                {% endif %}
                {{ field }}
            </div>
            <div>{{ field.errors }}</div>
        {% endfor %}
        <div>
            <button type="submit">Sign up</button>
            <p>Or if you already have an account <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </form>
{% endblock content%}