{% extends 'workshop/base.html' %}

{% block content %}
    {% if image %}
        <img src="{{ image.url }}" alt="{{ s.title }} image" style="height: 500px">
    {% endif %}
    <h1>{{ service_type.title }}</h1>
    {% for s in object_list %}
    <div class="card" style="width: 20%; margin-top: 2em">
        <div class="card-body">
            <h5 class="card-title">{{ s.title }}</h5>
            <p class="card-text">{{ s.description }}</p>
            <p class="card-text">${{ s.price }}</p>
            <a class="btn btn-primary" href="{{ s.get_absolute_url }}">Learn more</a>
        </div>
    </div>
    {% endfor %}
{% endblock content %}