{% extends 'workshop/base.html' %}

{% block content %}
    <div style="width: 30%; display:flex; flex-direction: row; justify-content: space-between; align-items: center">
        <h1>Services</h1>
    </div>
    {% for s in object_list %}
    <div class="card" style="width: 30%; margin-top: 2em">
        <div class="card-body">
            <h5 class="card-title">{{ s.title }}</h5>
            <p class="card-text"><a href="{{ s.service_type.get_absolute_url }}">{{ s.service_type }}</a></p>
            <p class="card-text">{{ s.description }}</p>
            <p class="card-text">${{ s.price }}</p>
            <a class="btn btn-primary" href="{{ s.get_absolute_url }}">Learn more</a>
        </div>
    </div>
    {% endfor %}

{% endblock content%}