.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.form-control {
  border-radius: .75em;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.form-control:focus {
  outline: 1px solid #1049da;
  box-shadow: 0 0 .25em .25em #1049da;
}

.form-control:enabled {
  background-color: #ffffff;
}

.form-control:required {
  border: 2px solid #1049da;
}

label[for="input2"] {
  color: #da103e;
}

.input:disabled {
  opacity: 0.5;
  background-color: #ccc;
}

label[for="input3"] {
  color: #ccc;
}

.input:invalid {
  border: 2px solid #da103e;
}

.checkbox,
.radiobutton {
  /* appearance: revert; */
}

.checkbox:checked,
.radiobutton:checked {
  filter: drop-shadow(0px 0px 1em #00ff00);
}

.form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-button button {
  background: #da103e;
  outline: none;
  border: none;
  font-family: "PP Fragment Sans", sans-serif;
  font-size: 1em;
  padding: 1em 3em;
}